$lg-break-point: 1200px;
$break-point: 960px;
$md-break-point: 640px;
$sm-break-point: 320px;

$aside-width: 0%;
$content-wrapper-width: 98%;
$article-max-width: 100%;
$post-margin-left: 1%;

$img: "../img";
$js: "../js";
$font: "../font";
