<div>

    <div >
        <div >
            <br>
            <h2>
                Demo of using AWS Rekognition
            </h2>


            <p><strong><em> What is AWS Rekognition?</em></strong></p>
            <p> Amazon Rekognition is an image and video analysis solution is a product in the Artificial Intelligence/Machine Learning category which uses machine deep learning to identify objects in an image. It is a highly scalable solution capable of quickly analyzing the image and identifying the objects in the image or video.
            It requires no knowledge of machine learning to use, and behind the scenes Amazon’s computer vision scientists are constantly analyzing new images and videos, improving upon the deep learning model and adding new features to the service.</p>


            <p> I have tried giving you a brief overview of Amazon Rekognition through video tutorial which includes output
                from predefined & custom models.</p>

            <p><iframe width="420" height="375" src="https://www.youtube.com/embed/FLuarhxQSNk"  allowfullscreen></iframe></p>

            </div>

           
        </div>
    </div>


